@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5 HomePage";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

</head>
<body>
    <!--Preferred Name-->
    <h1>Jacob Christiansen (a.k.a Supreme Leader)</h1>
    <!--Image of me doing something I enjoy-->

    <img src="img/D0C6F2AF-1D21-46C8-B8F1-50E3037F6CB0.jpeg" />
    <!--Paragraph on what I hope to get out of this class-->
    <p>
        One thing that I want to get out of this class is unsurprising, and that is
        to learn c#, how to make websites using the asp.net framework, and
        maybe some other things along the way that will make me attractive to company recruiters
    </p>
    <!--List of top 3 things I want to pursue after graduating-->
    <div>
        <span>3 Things I want to pursue after graduation</span>
        <ul>
            <li>A good paying job</li>
            <li>Affordable housing</li>
            <li>A wife if I don't already have one</li>
        </ul>
    </div>
</body>
</html>